pyfcm
certifi==2018.8.24
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.10
django-appconf==1.0.2
django-imagekit==4.0.2
django-rest-framework==0.1.0
djangorestframework==3.8.2
drfdocs==0.0.11
gunicorn==19.9.0
idna==2.7
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
pilkit==2.0
Pillow==5.2.0
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
uritemplate==3.0.0
urllib3==1.23
